<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Medicine Registration Database</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <script src="/static/js/jquery-1.7.2.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <style>
      #banner h1 {
        line-height: 60px;
      }
      #banner img {
        height: 60px;
        vertical-align: bottom;
        float: right;
      }
      #help {
        border: 3px solid #888;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: #CED7DC;
      }
      #help img {
        height:100px;
      }
      #footer {
        color: #888;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row" id="banner">
	<div class="span12">
	  <h1>Medicine Prices Database<img src="/static/img/banner.jpg"/></h1>
	</div>
      </div>
      <div id="meddb_container">
	{% block content %}Empty Template{% endblock %}
      </div>
      <div class="row" id="help">
	<div class="span2">
	  <img src="/static/img/help.png"/>
	</div>
	<div class="span9">
	  <br/>
	  <p><strong>How can we help you?</strong></p>
	  <p>For assistance with the Medicine Prices Database, please <a href="https://medicines.zendesk.com/anonymous_requests/new">click here</a>.</p>
	  <p>For any other queries, please <a href="https://medicines.zendesk.com/anonymous_requests/new">click here</a>.</p>
	</div>
      </div>
      <div class="row" id="footer">
	<div class="span12">
	  <p>The Medicine Prices Database, including all of its features and content is made available through Southern African Regional Programme on Access to Medicines and Diagnostics (&quot;SARPAM&quot;).</p>
	</div>
      </div>
    </div>
  </body>
</html>
