.nav-tabs > .active > a {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}