body{

}

#page-container{
}

#jumbo{
    background-image: url('/static/patterns/connect.png');
    margin-top: -20px;
    border-bottom: solid #e7e7e7 1px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

#message-container{
    padding-top: 15px;
}

.flashed_msg{
    background-image: url('/static/patterns/connect.png');
}

#search-banner{
    padding-top: 80px;
    padding-bottom: 120px;
    padding-left: 250px;
    padding-right: 250px;
}

#search-caption{
    margin-top: 15px;
}

#stats{
    border-bottom: solid #e7e7e7 1px;
    margin-bottom: 20px;
}

#footer{
    height: 80px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: solid #e7e7e7 1px;
}

.tiny-logo{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

#attribution{
    padding-top: 10px;
}

.custom-blue{
    color: #547CC1;
}

#brand-logo{
    margin-top: -15px;
    margin-bottom: -15px;
}

#search-form-container{
    max-width: 350px;
}

.flag{
    margin-left: 2px;
    margin-right: 2px;
}

#search-banner .dropdown-menu li{
    font-size: 18px;
    line-height: 1.33;
}

.price-bar{
    height: 24px;
    margin-top: -2px;
    margin-bottom: -2px;
    background-color: lightgreen;
}