body{

}

#footer{
    height: 100px;
}

.tiny-logo{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

#copyright{
    padding-top: 10px;
}

.custom-blue{
    color: #547CC1;
}

#brand-logo{
    margin-top: -15px;
    margin-bottom: -15px;
}