body{

}

#jumbo{
    background-image: url('/static/patterns/cream_pixels.png');
    margin-top: -20px;
}

#search-banner{
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    border-bottom: solid #e7e7e7 1px;
    margin-bottom: 20px;
}

#search-caption{
    margin-top: 15px;
}

#stats{
    border-bottom: solid #e7e7e7 1px;
    margin-bottom: 20px;
}

#footer{
    height: 100px;
}

.tiny-logo{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

#attribution{
    padding-top: 10px;
}

.custom-blue{
    color: #547CC1;
}

#brand-logo{
    margin-top: -15px;
    margin-bottom: -15px;
}

tr.clickable{
    cursor: pointer;
}

tr.clickable:hover td{
    background-color: #eee!important;
}

