{% extends 'admin/model/list.html' %}

{% macro render_country(model, column) %}
  <span class="flag flag-{{ model.country.code_short | lower }}"></span> <nobr>{{ model.country.name }}</nobr>
{% endmacro %}

{% macro render_date(model, column) %}
  <nobr>{{ model[column] }}</nobr>
{% endmacro %}

{% macro render_price(model, column) %}
  <nobr>{{ model[column] | round(2) }}</nobr>
{% endmacro %}

{% macro render_quantity(model, column) %}
  <nobr>{{ model[column] | add_commas }}</nobr>
{% endmacro %}

{% macro render_procurement_medicine(model, column) %}
  {{ model.product.medicine }}
{% endmacro %}

{% macro render_procurement_manufacturer(model, column) %}
  {{ model.product.manufacturer }}
{% endmacro %}

{% macro render_procurement_date(model, column) %}
  {% if model.start_date %}
    <nobr>{{ model.start_date }}</nobr>
  {% endif %}
  {% if model.end_date and model.end_date != model.start_date %}
    to <nobr>{{ model.end_date }}</nobr>
  {% endif %}
{% endmacro %}

{% macro render_approve(model, column) %}
  <div class="status-container">
    <form class="icon" method="POST" action="/update_status/">
      {% if csrf_token %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {% endif %}

      <input type="checkbox" {% if model.approved %}
             class="tooltip-enabled" data-toggle="tooltip" title="Approved by {{ model.approved_by }}" checked="True"
      {% endif %}>
    </form>
  </div>
{% endmacro %}