{% extends 'admin/master.html' %}
{% import 'admin/form_macros.html' as macros %}
{% block head_css %}
  {{ super() }}
  <link href="/admin/static/vendor/select2/select2.css" rel="stylesheet">
  <link href="/admin/static/vendor/datetimepicker-bs3/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock head_css%}

{% block body %}
  {{ super() }}
  <div class="row-fluid">
    <h1>{{ title }}</h1>

    {% if form %}

      <form class="form-horizontal" method="POST" role="form" action="">
        {{ form.csrf_token }}
        {{ macros.render_field(form.country, class="form-control", placeholder="Select your country") }}
        {#  Related Product  #}
        {% if procurement %}
          {{ macros.render_related_product(form.product, procurement=procurement, include_edit_button=True, class="form-control", placeholder="Select the product") }}
        {% else %}
          {{ macros.render_related_product(form.product, class="form-control", placeholder="Select the product") }}
        {% endif %}
        {#  Related Supplier  #}
        {% if procurement %}
          {{ macros.render_related_supplier(form.supplier, procurement=procurement, include_edit_button=True, class="form-control", placeholder="Select the supplier") }}
        {% else %}
          {{ macros.render_related_supplier(form.supplier, class="form-control", placeholder="Select the supplier") }}
        {% endif %}
        {{ macros.render_field(form.container, class="form-control") }}
        {{ macros.render_field(form.pack_size, class="form-control") }}
        {{ macros.render_field(form.currency, class="form-control") }}
        {{ macros.render_field(form.pack_price, class="form-control") }}
        <div class="form-group">
          <label class="col-md-4 control-label">Exchange rate</label>
          <div class="col-md-4">
            <input class="form-control" id="exchange_rate" name="exchange_rate" type="text" value="{% if procurement and procurement.exchange_rate %}{{ procurement.exchange_rate }}{% endif %}">
          </div>
        </div>
        {{ macros.render_field(form.pack_price_usd, class="form-control") }}
        {{ macros.render_field(form.unit_price_usd, class="form-control") }}
        {{ macros.render_field(form.quantity, class="form-control") }}
        {{ macros.render_field(form.method, class="form-control") }}
        {{ macros.render_field(form.start_date, class="form-control") }}
        {{ macros.render_field(form.end_date, class="form-control") }}
        {{ macros.render_field(form.incoterm, class="form-control", placeholder="Select the incoterm") }}
        <div class="form-group">
          <div class="col-md-offset-4 col-md-7">
            <button type="submit" class="btn btn-lg btn-primary">&nbspSave&nbsp</button>
          </div>
        </div>
      </form>
    {% endif %}
  </div>

{% endblock body %}

{% block tail_js %}
  {{ super() }}
  <script src="/admin/static/admin/js/form.js" type="text/javascript"></script>
  <script src="/admin/static/vendor/datetimepicker-bs3/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

  <script type="text/javascript">
    $(function() {
      var pack_price = $("#pack_price")
      var pack_price_usd = $("#pack_price_usd")
      var exchange_rate = $("#exchange_rate")
      var unit_price_usd = $("#unit_price_usd")
      var pack_size = $("#pack_size")
      var start_date = $("#start_date")
      var end_date = $("#end_date")
      var uom_placeholder = $(".uom-placeholder")
      var container_placeholder = $(".container-placeholder")
      var product = $("#product")
      var container = $("#container")

      // hit our own API to find the correct UOM for the specified product, and populate help-text with the value
      function loadUnitOfMeasure(){
        if(product.val()){
           $.ajax({
          url: "/product/" + product.val() + "/"
        }).success(function(data, status, jqXHR) {
          uom_placeholder.html(data.medicine.unit_of_measure)
        });
        }
      }
      product.on('change', function(){
        loadUnitOfMeasure()
      })
      loadUnitOfMeasure()

      // populate help-text with value from container field
      function loadContainer(){
        if(container.val()){
          container_placeholder.html(container.val());
        }
      }
      container.on('change', function(){
        loadContainer();
      })
      loadContainer()

      function calculateUnitPrice(){
        if(pack_size.val() && pack_price_usd.val()){
          var tmp = pack_price_usd.val() / pack_size.val();
          unit_price_usd.val(tmp);
        }
      }

      // calculate initial exchange rate
      if(pack_price.val() && pack_price_usd.val()){
        var tmp = pack_price.val() / pack_price_usd.val();
        exchange_rate.val(tmp);
      }

      pack_size.on('change', function(){
        calculateUnitPrice();
      })

      exchange_rate.on('change', function(){
        if(pack_price.val() && exchange_rate.val()) {
          var tmp = pack_price.val() / exchange_rate.val();
          pack_price_usd.val(tmp);
          calculateUnitPrice();
        }
      })

      pack_price.on('change', function(){
        if(pack_price.val() && exchange_rate.val()) {
          var tmp = pack_price.val() / exchange_rate.val();
          pack_price_usd.val(tmp);
          calculateUnitPrice();
        }
      })

      pack_price_usd.on('change', function(){
        if(pack_price.val() && pack_price_usd.val()) {
          var tmp = pack_price.val() / pack_price_usd.val();
          exchange_rate.val(tmp);
          calculateUnitPrice();
        }
      })

      // set end date from start date
      start_date.on('change', function(){
        if(start_date.val() && !end_date.val()){
          end_date.val(start_date.val())
        }
      })

    });
  </script>
{% endblock %}