.nav-tabs > .active > a {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > .active > a:hover {
    color: #555555;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

div#meddb_inner_container {
    position: relative;
}

div#meddb_inner_container > img#meddb_loading {
    position: absolute;
    top: 40px;
    left: 400px;
    z-index: -1;
    opacity: 0;
}

input#meddb_medicine_search {
    width: 930px;
}

div#meddb_inner_container > div.meddb_inner_page {
    position: absolute;
    width: 100%;
}

table#meddb_supplier_details th:first-child {
    width: 200px;
}

div#meddb_medicine_prices {
    margin-bottom: 100px;
}

.multi-element {
    background-color: #cdcdcd;
    padding: 1px 5px;
    font-size: 12px;
    margin: 5px
}

#banner h1 {
    line-height: 60px;
}

#banner img {
    height: 60px;
    vertical-align: bottom;
    float: left;
    margin-right:10px;
}

#help {
    border: 3px solid #888;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #CED7DC;
    display: none;
}

#help img {
    height:100px;
}

#footer {
    color: #888;
}
