{% extends "base.html" %}

{% block page_header %}
    <div class="container">
        <h1>
            Country rankings
        </h1>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-md-12">
            <p class="lead">These rankings are based on recent procurements (past twelve months), and are based on estimates.</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <th></th>
                <th>Country</th>
                <th>Overall spend</th>
                <th colspan="2">Savings potential</th>
                </thead>
                <tbody>
                {% for entry in country_ranking %}
                    <tr class="country-entry" data-country-code="{{ entry.country.code }}">
                        <td>{{ loop.index }}</td>
                        <td>{{ macros.render_flag(entry.country) }} {{ entry.country.name }}</td>
                        <td>${{ entry.overall_spend | int | add_commas }}</td>
                        <td>${{ entry.potential_savings | int | add_commas }}</td>
                        <td>{{ (100 * (1 - entry.score)) | int }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $(".country-entry").on('click', function(){
                tmp = this
                var code = $(this).attr('data-country-code');
                window.location = '/country-report/' + code + '/';
            })
        });
    </script>
{% endblock %}