{% extends "base.html" %}

{% block page_header %}
  <div class="container">
    <h1>
      <a href="/expert-list/">Regional experts</a> >
      {{ macros.render_user_name(expert) }}
    </h1>
  </div>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-8">
          <h2>Professional profile</h2>
        </div>
      </div>
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <th>CV</th>
          <td>
            {% if expert.cv_url %}
              <a href="http://{{ expert.cv_url }}" target="_blank">{{ expert.cv_url }}</a>
            {% else %}
              <span class="text-muted">Unknown</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Email</th>
          <td>
            <a href="mailto:{{ expert.email }}" target="_blank">{{ expert.email }}</a>
          </td>
        </tr>
        <tr>
          <th>Contact number</th>
          <td>
            {% if expert.contact %}
              {{ expert.contact }}
            {% else %}
              <span class="text-muted">Unknown</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Country</th>
          <td>
            {% if expert.country %}
              {{ macros.render_flag(expert.country) }} {{ expert.country.name }}
            {% else %}
              <span class="text-muted">Unknown</span>
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Technical expertise</th>
          <td>
            {{ macros.render_technical_expertise(expert) }}
          </td>
        </tr>
        <tr>
          <th>Regional experience</th>
          <td>
            {{ macros.render_regional_experience(expert) }}
          </td>
        </tr>
        <tr>
          <th>Language proficiency</th>
          <td>
            {{ macros.render_language_proficiency(expert) }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ super() }}
  <script>
    $(document).ready(function(){

    });
  </script>
{% endblock %}