{% extends "base.html" %}

{% block page %}
<div class="row">
    <div class="col-lg-8">
        <h1>SADC Medicine Prices Database</h1>
        <p>
            This database will provide you with up to date information on comparative medicine prices and properties (including dosage form and strength) as well as product, supplier and manufacturer information.
        </p>
        <p>
            This website, including all of its features and content is made available through Southern African Regional Programme on Access to Medicines and Diagnostics ("SARPAM").
        </p>
    </div>
    <div class="col-lg-4">
        <img class="img-thumbnail" src="/static/images/medicine.jpg">
    </div>
</div>
{% endblock %}