{% macro render_country(country) -%}
    {%- if country.name -%}
        {{ country.name }}
    {%- else -%}
        N/A
    {%- endif -%}
{%- endmacro %}

{% macro render_medicine(medicine) -%}
    <a href="/medicine/{{ medicine.id }}/">
        {% for ingredient in medicine.ingredients %}
            {% if loop.index > 1 %} + {% endif %}
            {{ ingredient.inn }}
        {% endfor %}
    </a>
{%- endmacro %}

{% macro render_medicine_strength(medicine) -%}
    {% for ingredient in medicine.ingredients %}
        {% if loop.index > 1 %} + {% endif %}
        {{ ingredient.strength }}
    {% endfor %}
{%- endmacro %}

{% macro render_product(product) -%}
    <a href="/product/{{ product.id }}/">
        {% if product.name %}
            {{ product.name }}
        {% else %}
            Generic
        {% endif %}
    </a>
{%- endmacro %}

{% macro render_supplier(supplier) -%}
    <a href="/supplier/{{ supplier.id }}/">
        {{ supplier.name }}
    </a>
{%- endmacro %}

{% macro render_pack_size(pack_size) -%}
    {{ pack_size.quantity | round | int }} {{ pack_size.unit }} {{ pack_size.type }}
{%- endmacro %}

{% macro render_url(url) -%}
    <a href="{{ url }}" target="_blank">{{ url }}</a>
{%- endmacro %}