{% macro render_field(field) %}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="col-md-4 control-label">{{ field.label }}</label>
    <div class="col-md-4">
      {% if field.errors %}
        {% set css_class = 'has-error ' + kwargs.pop('class', '') %}
        {{ field(class=css_class, **kwargs) }}
        <ul class="list-unstyled help-block">{% for error in field.errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
      {% else %}
        {{ field(**kwargs) }}
      {% endif %}
    </div>
  </div>
{% endmacro %}


{% macro render_date_range(start_date, end_date) -%}
  {% if start_date | format_date == end_date | format_date %}
    <nobr>{{ start_date | format_date }}</nobr>
  {% else %}
    <nobr>{{ start_date | format_date }}</nobr> to <nobr>{{ end_date | format_date }}</nobr>
  {% endif %}
{%- endmacro %}


{% macro render_flag(country) -%}
  <img src="blank.gif" class="flag flag-{{ country.code_short | lower }}" alt="{{ country.name }}" />
{%- endmacro %}


{% macro render_user_name(user) %}
  <nobr>{% if user['title'] %}{{ user['title'] }} {% endif %}{% if user['first_name'] %}{{ user['first_name'] }} {% endif %}{% if user['last_name'] %}{{ user['last_name'] }}{% endif %}</nobr>
{% endmacro %}


{% macro render_technical_expertise(user) -%}
  {% set labels = {
  'technical_forecasting': 'Forecasting/quantification',
  'technical_planning': 'Procurement planning',
  'technical_logistics': 'Procurement (technical aspects)',
  'technical_handling': 'Clearing and handling',
  'technical_inventory': 'Warehouse management (Inventory control)',
  'technical_distribution': 'Distribution and transport',
  'technical_information_systems': 'Information systems for the above',
  'technical_monitoring': 'Monitoring and evaluation',
  'technical_training': 'Training in the above'
  } %}
  {% for key, value in user.iteritems() %}
    {% if key.startswith('technical_') and value %}
      <span class="label label-primary">{{ labels[key] }}</span>
    {% endif %}
  {% endfor %}
{%- endmacro %}


{% macro render_regional_experience(user) -%}
  {% set labels = {
  'regional_east_africa': 'Eastern Africa & Indian Ocean',
  'regional_west_central_africa': 'West and Central Africa',
  'regional_southern_africa': 'Southern Africa',
  'regional_north_africa': 'Middle East and North Africa',
  'regional_eastern_europe': 'Eastern Europe and Central Asia',
  'regional_south_asia': 'South and West Asia',
  'regional_east_asia': 'East Asia and the Pacific',
  'regional_latin_america': 'Latin America and the Caribbean',
  } %}
  {% for key, value in user.iteritems() %}
    {% if key.startswith('regional_') and value %}
      <span class="label label-success">{{ labels[key] }}</span>
    {% endif %}
  {% endfor %}
{%- endmacro %}


{% macro render_language_proficiency(user) -%}
  {% set labels = {
  'language_english': 'English',
  'language_french': 'French',
  'language_spanish': 'Spanish',
  'language_portuguese': 'Portuguese',
  'language_russian': 'Russian',
  } %}
  {% for key, value in user.iteritems() %}
    {% if key.startswith('language_') and value %}
      <span class="label label-info">{{ labels[key] }}</span>
    {% endif %}
  {% endfor %}
{%- endmacro %}