{% extends "base.html" %}

{% block page_header %}
    <div class="container">
        <h1>
            Medicines currently supported
        </h1>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        {% if medicine_list %}
            <div class="col-md-12">
                <p class="lead text-center">These numbers are based on recent procurements (past twelve months).</p>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <th></th>
                    <th>Generic Name & Strength</th>
                    </thead>
                    <tbody>
                    {% for medicine in medicine_list %}
                        <tr class="medicine-entry clickable" data-medicine-id="{{ medicine.medicine_id }}">
                            <td>{{ loop.index }}</td>
                            <td>{{ medicine.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {{ medicines }}
            </div>
        {% else %}
            <div class="col-md-12">
                <p class="lead text-center">There are no medicines to display.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $(".medicine-entry").on('click', function(){
                tmp = this
                var medicine_id = $(this).attr('data-medicine-id');
                window.location = '/medicine/' + medicine_id + '/';
            })
        });
    </script>
{% endblock %}