{% extends "base.html" %}

{% block page %}
<div class="row">
    <div class="col-lg-12">

        <h1>Medicines</h1>

        <table class="table table-bordered table-striped">
            <thead>
            <th>Formulation</th>
            <th>Strength</th>
            <th>Dosage Form</th>
            <th>Average SADC Price (USD)</th>
            <th>MSH Price (USD)</th>
            </thead>
            <tbody>
            {% for medicine in medicine_list %}
            <tr class="medicine-entry clickable" data-medicine-id="{{ medicine.id }}">
                <td>
                    {{ macros.render_medicine(medicine.ingredients) }}
                </td>
                <td>
                    {{ macros.render_medicine_strength(medicine) }}
                </td>
                <td>
                    {{ medicine.dosageform.name }}
                </td>
                <td>
                    {{ medicine.avgprice | float | round(4)}}
                </td>
                <td>
                    {{ medicine.mshprice }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        $(".medicine-entry").on('click', function(e){
            var medicine_id = $(this).attr('data-medicine-id').toString()
            window.location = "/medicine/" + medicine_id
        })
    });
</script>
{% endblock %}