{% extends "base.html" %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">

            <h1>
                Purchase details
            </h1>

            <p class="lead">
                Product: {{ macros.render_product(procurement.product, procurement.product.medicine.ingredients) }}<br>
                Type: <small>
                {% if procurement.product.generic %}
                    Generic
                {% else %}
                    Proprietary
                {% endif %}
            </small>
            </p>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>
                        Supplier
                    </th>
                    <td>
                        {% if procurement.supplier and procurement.supplier.name %}
                            <a href="/supplier/{{ procurement.supplier.id }}/">
                                {{ procurement.supplier.name }}
                            </a>
                        {% else %}
                            Unknown
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Country
                    </th>
                    <td>
                        {{ macros.render_country(procurement.country) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Pack price (USD)
                    </th>
                    <td>
                        {{ procurement.price_per_unit | round(3) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Price (USD)
                    </th>
                    <td>
                        {{ procurement.price_usd | round(3) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Volume (packs)
                    </th>
                    <td>
                        {{ macros.render_volume(procurement.volume) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Pack Size
                    </th>
                    <td>
                        {{ macros.render_pack_size(procurement.container, procurement.packsize) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Incoterm
                    </th>
                    <td>
                        {{ macros.render_incoterm(procurement.incoterm) }}
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>
                        {{ macros.render_date_range(procurement.start_date, procurement.end_date) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Manufacturer
                    </th>
                    <td>
                        {% if procurement.manufacturer %}
                            {{ procurement.manufacturer.name }}, {{ procurement.manufacturer.country[0] }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Information source
                    </th>
                    <td>
                        {{ macros.render_source(procurement.source) }}
                    </td>
                </tr>

                </tbody>
            </table>


        </div>
    </div>
{% endblock %}