{% extends "base.html" %}

{% block page_header %}
    <div class="container">
        <h1>
            <a href="/medicine/{{ procurement.product.medicine.medicine_id }}">{{ procurement.product.medicine.name }}</a> >
            Procurement #{{ procurement.procurement_id }}
            {#            <nobr>#}
            {#                <small class="text-muted">#}
            {#                    {{ procurement.country.name }}#}
            {#                </small>#}
            {#            </nobr>#}
        </h1>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Transaction details</h2>
                </div>
                <div class="col-lg-4">
                    <a
                            type="button"
                            href="{{ API_HOST }}admin/procurement/edit/?id={{ procurement.procurement_id }}"
                            class="btn btn-info pull-right"
                            style="margin-top: 20px;">
                        Edit
                    </a>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>Procurement country</th>
                    <td>
                        {{ macros.render_flag(procurement.country) }} {{ procurement.country.name }}
                    </td>
                </tr>
                <tr>
                    <th>Generic Name (Strength)</th>
                    <td>
                        {{ procurement.product.medicine.name }}
                    </td>
                </tr>
                <tr>
                    <th>Description/Brand</th>
                    <td>
                        {% if procurement.product.description %}
                            {{ procurement.product.description }}
                        {% else %}
                            <span class="text-muted">Unknown</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>
                        {{ procurement.start_date }} {% if procurement.start_date != procurement.end_date %}to {{ procurement.end_date }}{% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Terms</th>
                    <td>
                        {% if procurement.incoterm %}
                            {{ procurement.incoterm.code }} ({{ procurement.incoterm.description }})
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Procurement quantity (packs)</th>
                    <td>
                        {{ procurement.quantity | add_commas }}
                    </td>
                </tr>
                <tr>
                    <th>Pack size</th>
                    <td>
                        {{ procurement.pack_size }}
                    </td>
                </tr>
                <tr>
                    <th>Unit of Measure</th>
                    <td>
                        {{ procurement.unit_of_measure }}
                    </td>
                </tr>
                <tr>
                    <th>Container</th>
                    <td>
                        {{ procurement.container }}
                    </td>
                </tr>
                <tr>
                    <th>Pack price</th>
                    <td>
                        ${{ procurement.pack_price_usd }}
                    </td>
                </tr>
                <tr>
                    <th>Unit price</th>
                    <td>
                        ${{ procurement.unit_price_usd }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Supplier</h2>
                </div>
                <div class="col-lg-4">
                    {% if procurement.supplier %}
                        <a
                                type="button"
                                href="{{ API_HOST }}admin/supplier/edit/?id={{ procurement.supplier.supplier_id }}"
                                class="btn btn-info pull-right"
                                style="margin-top: 20px;">
                            Edit
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if procurement.supplier %}
                {% set supplier = procurement.supplier %}
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td>
                            {{ supplier.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>Street Address</th>
                        <td>
                            {% if supplier.street_address %}
                                {{ supplier.street_address }}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Contact Person</th>
                        <td>
                            {% if supplier.contact %}
                                {{ supplier.contact }}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            {% if supplier.email %}
                                <a href="mailto:{{ supplier.email }}?subject=Medicine pricing enquiry - {{ procurement.product.medicine.name }}" target="_blank">{{ supplier.email }}</a>
                                {% if supplier.alt_email %}
                                    , <a href="mailto:{{ supplier.alt_email }}?subject=Medicine pricing enquiry - {{ procurement.product.medicine.name }}" target="_blank">{{ supplier.alt_email }}</a>
                                {% endif %}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>
                            {% if supplier.phone %}
                                {{ supplier.phone }}
                                {% if supplier.alt_phone %}
                                    , {{ supplier.alt_phone }}
                                {% endif %}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>
                            {% if supplier.fax %}
                                {{ supplier.fax }}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Website</th>
                        <td>
                            {% if supplier.website %}
                                <a href="{{ supplier.website }}" target="_blank">{{ supplier.website }}</a>
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <p class="lead text-muted">There is no Supplier information for this procurement.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <h2>Manufacturer</h2>
                </div>
                <div class="col-lg-4">
                    {% if procurement.product.manufacturer %}
                        <a
                                type="button"
                                href="{{ API_HOST }}admin/manufacturer/edit/?id={{ procurement.product.manufacturer.manufacturer_id }}"
                                class="btn btn-info pull-right"
                                style="margin-top: 20px;">
                            Edit
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if procurement.product.manufacturer %}
                {% set manufacturer = procurement.product.manufacturer %}
                <table class="table table-bordered table-striped">
                    <tbody>
                    <tr>
                        <th>Country</th>
                        <td>
                            {{ macros.render_flag(manufacturer.country) }} {{ manufacturer.country.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>
                            {% if manufacturer.name %}
                                {{ manufacturer.name }}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Site</th>
                        <td>
                            {% if procurement.product.site %}
                                {{ procurement.product.site }}
                            {% else %}
                                <span class="text-muted">Unknown</span>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            {% else %}
                <p class="lead text-muted">There is no Manufacturer information for this procurement.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}