{% extends "base.html" %}

{% block page_header %}
    <div id="jumbo">
        {{ super() }}
        <div class="container">
            {% if product.average_price %}
                <div class="pull-right">
                    <h1 class="product_price">
                        <span
                                class="label label-info tooltip-enabled"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="*Average price (in USD) per {{ product.medicine.dosage_form.name }}">
                            ${{ product.average_price }}*
                        </span>
                    </h1>
                </div>
            {% endif %}
            <h1>
                {% if product.name %}
                    {{ product.name }}
                {% else %}
                    Unnamed
                    {% if product.medicine and product.medicine.name %}
                        {{ product.medicine.name }}
                    {% endif %}
                {% endif %}
                {% if product.medicine.dosage_form %}
                    ({{ product.medicine.dosage_form.name }})
                {% endif %}
                <nobr>
                    <small class="text-muted">
                        {% for component in product.medicine.components %}
                            {{ component.ingredient.name }} ({{ component.strength }})
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </small>
                </nobr>
            </h1>
            <p>
                <strong>
                    <nobr><span class="text-muted">
                        {% if product.manufacturer and product.manufacturer.name %}
                            Manufactured by {{ product.manufacturer.name }}
                        {% else %}
                            Unknown manufacturer
                        {% endif %}
                        {% if product.manufacturer and product.manufacturer.country %}
                            in {{ product.manufacturer.country.name }}
                        {% endif %}
                        <span>
                            {% if product.generic %}
                                (generic)
                            {% else %}
                                (originator)
                            {% endif %}
                        </span>
                </span></nobr>
                </strong>
            </p>
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">
            {% if product.medicine.benchmarks %}
                {% for benchmark in product.medicine.benchmarks %}
                    {% set difference = 100 * (product.average_price - benchmark.price) / product.average_price %}
                    <p class="lead">
                        This product was
                        <span class="text-{% if difference > 0 %}danger{% else %}success{% endif %}">
                            {{ difference | round | int | abs }}% {% if difference > 0 %}more{% else %}less{% endif %} expensive
                        </span>
                        than the {{ benchmark.name }} benchmark price of ${{ benchmark.price }} for {{ benchmark.year }}.
                    </p>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Alternative products</h2>

            {% if product.alternative_products %}
                <ul class="list-unstyled">

                    {% for alternative_product in product.alternative_products %}
                        {% set difference = 100 * (alternative_product.average_price - product.average_price) / alternative_product.average_price %}
                        <a href="/product/{{ alternative_product.product_id }}/">

                            <li class="alternative-product-item" data-product-id="{{ alternative_product.product_id }}">

                                <div class="row">
                                    <div class="col-md-5">
                                        <em>
                                            {% if alternative_product.manufacturer %}
                                                {% if alternative_product.manufacturer.country %}
                                                    {{ macros.render_flag(alternative_product.manufacturer.country) }}
                                                {% endif %}
                                                Manufactured by {{ alternative_product.manufacturer.name }}
                                                {% if alternative_product.manufacturer.country %}
                                                    in {{ alternative_product.manufacturer.country.name }}
                                                {% endif %}
                                            {% else %}
                                                Unknown manufacturer
                                            {% endif %}
                                        </em>
                                    </div>
                                    <div class="col-md-4">
                                        {% if alternative_product.name %}
                                            {{ alternative_product.name }}
                                        {% else %}
                                            Unnamed
                                        {% endif %}
                                        {{ product.medicine.name }}
                                    </div>
                                    <div class="col-md-3">
                                        {% if alternative_product.average_price %}
                                            ${{ alternative_product.average_price }}
                                        {% endif %}
                                        <span class="badge pull-right alert-{% if difference > 0 %}danger{% else %}success{% endif %}">
                                        {% if difference > 0 %} + {% else %} - {% endif %}{{ difference | round | int | abs }}%
                                    </span>
                                    </div>
                                </div>
                            </li>
                        </a>
                    {% endfor %}

                </ul>
            {% else %}
                <p>We don't know of any alternatives to this product.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <h2>Purchases</h2>
            {% if product.procurements | length == 0 %}
                <p style="padding: 10px;" class="lead text-muted">No recent purchases recorded</p>
            {% else %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>Supplier</th>
                    <th>Procurement country</th>
                    </thead>
                    <tbody>
                    {% for procurement in product.procurements %}
                        <tr class="procurement-entry clickable" data-procurement-id="{{ procurement.id }}">
                            <td>

                                {% if procurement.supplier and procurement.supplier.name %}
                                    <a href="/supplier/{{ procurement.supplier.id }}/">
                                        {{ procurement.supplier.name }}
                                    </a>
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {{ macros.render_flag(procurement.country) }} {{ procurement.country.name }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $(".procurement-entry").on('click', function(e){
                var procurement_id = $(this).attr('data-procurement-id').toString()
                window.location = "/procurement/" + procurement_id
            })
        });
    </script>
{% endblock %}