{% extends "base.html" %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">

            <h1>
                {{ macros.render_product(product) }}
                <small>
                    {% if product.generic %}
                        Generic
                    {% else %}
                        Originator
                    {% endif %}
                </small>
            </h1>

            <h2>Details</h2>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>
                        Formulation
                    </th>
                    <td>
                        {{ product.medicine.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Strength
                    </th>
                    <td>
                        {{ macros.render_medicine_strength(product.medicine) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Dosage form
                    </th>
                    <td>
                        {{ product.medicine.dosage_form.name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Manufacturer
                    </th>
                    <td>
                        {% if product.manufacturer %}
                            {{ product.manufacturer.name }}, {{ product.manufacturer.country }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Site
                    </th>
                    <td>
                        {% if product.manufacturer %}
                            {{ product.manufacturer.site }}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>

            <h2>Purchases</h2>
            {% if product.procurements | length == 0 %}
                <p style="padding: 10px;" class="lead text-muted">No recent purchases recorded</p>
            {% else %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>Supplier</th>
                    <th>Procurement country</th>
                    </thead>
                    <tbody>
                    {% for procurement in product.procurements %}
                        <tr class="procurement-entry clickable" data-procurement-id="{{ procurement.id }}">
                            <td>

                                {% if procurement.supplier and procurement.supplier.name %}
                                    <a href="/supplier/{{ procurement.supplier.id }}/">
                                        {{ procurement.supplier.name }}
                                    </a>
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {{ macros.render_country(procurement.country) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $(".procurement-entry").on('click', function(e){
                var procurement_id = $(this).attr('data-procurement-id').toString()
                window.location = "/procurement/" + procurement_id
            })
        });
    </script>
{% endblock %}