{% extends "base.html" %}

{% block page_header %}
    <div id="jumbo">
        {{ super() }}
        <div class="container">
            {% if product.average_price %}
                <div class="pull-right">
                    <h1 class="product_price">
                        <span
                                class="label label-info tooltip-enabled"
                                data-toggle="tooltip"
                                data-placement="left"
                                title="*Average price (in USD) per {{ product.medicine.dosage_form.name }}">
                            ${{ product.average_price }}*
                        </span>
                    </h1>
                </div>
            {% endif %}
            <h1>

                {% if product.name %}
                    {{ product.name }}
                {% else %}
                    {% if product.medicine.name %}{{ product.medicine.name }} {% endif %}
                    Unnamed product
                {% endif %}

                <small class="text-muted">{% for component in product.medicine.components %}
                    {{ component.ingredient.name }} ({{ component.strength }})
                    {% if not loop.last %}, {% endif %}
                {% endfor %}</small>
            </h1>
            <p>
                <strong>
                    <nobr><span class="text-muted"> by
                        {% if product.manufacturer and product.manufacturer.name %}
                            {{ product.manufacturer.name }}
                        {% else %}
                            unspecified manufacturer
                        {% endif %}
                        {% if product.manufacturer and product.manufacturer.country %}
                            of {{ product.manufacturer.country.name }}
                        {% endif %}
                        <span>
                            {% if product.generic %}
                                (generic)
                            {% else %}
                                (originator)
                            {% endif %}
                        </span>
                </span></nobr>
                </strong>
            </p>


        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">

        {{ product.medicine.dosage_form.name }}

            <h2>Purchases</h2>
            {% if product.procurements | length == 0 %}
                <p style="padding: 10px;" class="lead text-muted">No recent purchases recorded</p>
            {% else %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>Supplier</th>
                    <th>Procurement country</th>
                    </thead>
                    <tbody>
                    {% for procurement in product.procurements %}
                        <tr class="procurement-entry clickable" data-procurement-id="{{ procurement.id }}">
                            <td>

                                {% if procurement.supplier and procurement.supplier.name %}
                                    <a href="/supplier/{{ procurement.supplier.id }}/">
                                        {{ procurement.supplier.name }}
                                    </a>
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>
                                {{ macros.render_country(procurement.country) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $(".procurement-entry").on('click', function(e){
                var procurement_id = $(this).attr('data-procurement-id').toString()
                window.location = "/procurement/" + procurement_id
            })
        });
    </script>
{% endblock %}