{% extends "base.html" %}

{% block page_header %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>User registration</h1>
      </div>
    </div>
  </div>
{% endblock %}

{% block page %}
  <div class="row">
    <div class="col-md-12">
      <p class="lead text-center">Please register below to access the SADC Medicine Prices Database.</p>
      <form class="form-horizontal" method="POST" role="form" action="/register/">
        {{ form.csrf_token }}

        {{ macros.render_field(form.title, class="form-control", placeholder="Title") }}

        {{ macros.render_field(form.first_name, class="form-control", placeholder="First Name") }}

        {{ macros.render_field(form.last_name, class="form-control", placeholder="Last Name") }}

        {{ macros.render_field(form.email, class="form-control", placeholder="Enter your email address") }}

        {{ macros.render_field(form.password, class="form-control", placeholder="Enter your password") }}

        {{ macros.render_field(form.country, class="form-control", placeholder="Select your country") }}

        <div class="form-group">
          <div class="col-md-offset-4 col-md-7">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>

      </form>
    </div>

  </div>
{% endblock %}