{% extends "base.html" %}

{% block page_header %}
    <div id="jumbo">
        {{ super() }}
        <div class="container">
            <h1>{{ supplier.name }}</h1>
            {% if supplier.website %}
                {{ macros.render_url(supplier.website) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">

            <h2>Details</h2>
            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>
                        Contact Person
                    </th>
                    <td>
                        {{ supplier.contact }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Email
                    </th>
                    <td>
                        {{ supplier.email }}
                        {% if supplier.altemail %}
                            , {{ supplier.altemail }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Telephone
                    </th>
                    <td>
                        {{ supplier.phone }}
                        {% if supplier.altphone %}
                            , {{ supplier.altphone }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>
                        Facsmile
                    </th>
                    <td>
                        {{ supplier.fax }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Address
                    </th>
                    <td>
                        {{ supplier.address }}
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>Product catalogue</h2>

            {% if supplier.products %}
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>Name</th>
                    <th>Manufacturer</th>
                    </thead>
                    <tbody>
                    {% for product in supplier.products %}
                        <tr>
                            <td>
                                <strong>
                                    <a href="/product/{{ product.product_id }}/">{{ product.name }} - {{ product.medicine.name }}</a>
                                </strong>
                            </td>
                            <td>
                                {% if product.manufacturer %}
                                    {%- if product.manufacturer.country -%}
                                        {{ macros.render_flag(product.manufacturer.country) }}
                                    {% endif -%}
                                    {{ product.manufacturer.name }}
                                    {%- if product.manufacturer.country -%}
                                        , {{ product.manufacturer.country.name }}
                                    {%- endif -%}
                                {% else %}
                                    Unknown manufacturer
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>We don't know of any products sold by this supplier.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        $(document).ready(function(){
            $(".procurement-entry").on('click', function(e){
                var procurement_id = $(this).attr('data-procurement-id').toString()
                window.location = "/procurement/" + procurement_id
            })
        });
    </script>
{% endblock %}