{% extends "base.html" %}

{% block page %}
    <div class="row">
        <div class="col-lg-12">

            <h1>Suppliers</h1>

            <table class="table table-bordered table-striped">
                <thead>
                <th>Name</th>
                <th>Country</th>
                <th>Website</th>
                </thead>
                <tbody>
                {% for supplier in supplier_list %}
                    <tr class="supplier-entry clickable" data-supplier-id="{{ supplier.id }}">
                        <td>
                            {{ macros.render_supplier(supplier) }}
                        </td>
                        <td>
                            {% if supplier.country %}
                                {{ macros.render_country(supplier.country) }}
                            {% endif %}
                        </td>
                        <td>
                            {% if supplier.website %}
                                {{ macros.render_url(supplier.website) }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function(){
        $(".supplier-entry").on('click', function(e){
            var supplier_id = $(this).attr('data-supplier-id').toString()
            window.location = "/supplier/" + supplier_id
        })
    });
</script>
{% endblock %}